.megaMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #eee;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.megaMenu .col {
  flex: unset !important;
  width: 25% !important;
  height: 80px;
}

.megaMenu h6 {
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--teal);
}

.megaMenu small,
.megaList li {
  display: block;
  color: #666;
  font-size: 0.875em;
}

.megaList {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.megaList li {
  padding-top: 0.5rem;
}

/* Make header sticky */
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1050; /* Above dropdowns */
  background: #fff;
  cursor: pointer;
}

/* Top bar hide effect */
.top-bar {
  transition: transform 0.3s ease-in-out;
  background: #f8f9fa;
}
.top-bar.hide {
  transform: translateY(-100%);
}
