:root {
  --font-primary: var(--font-montserrat), sans-serif;
  --font-secondary: "Helvetica Neue", Arial, sans-serif;
  --teal: #3b9c9d;
  --solar: #e98c46;
  --white: #fff;
  --black: #000;
}

body {
  font-family: var(--font-secondary);
  color: #222;
  background: #fff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar,
.btn {
  font-family: var(--font-primary);
}

p,
ul,
ol,
li {
  font-family: var(--font-secondary);
}

a {
  text-decoration: none;
}

.btn {
  background: var(--solar);
  color: var(--white);
  padding: 12px 0 12px 0;
  border: 1px solid var(--solar);
  border-radius: 20px;
  font-weight: 600;
  text-transform: none;
  display: inline-block;
  width: 150px;
  text-align: center;
  font-size: 16px;
}

.btn:hover {
  background-color: #ffe9d7;
  color: var(--solar);
  border: 1px solid var(--solar);
  cursor: pointer;
}

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #3b9c9d;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-top:hover {
  background: #e98c46;
}

.properties{
  justify-content: center!important;
}

.properties .nav-link{
  color: #000;
}

.properties .nav-link.active{
  color: #e98c46;
  border-bottom: 4px solid #e98c46;
}